.main-wrapper{
    background: url('../images/01.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.sign-up-form{
    text-align: center;
    width: 60%;
    background: white;
    padding: 10px;
}

.sign-up-form h2{
    margin: 10px;
}
.form-signup{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.form-fields{
    width: calc(100% / 2 - 50px);
    margin: 25px;
}

.form-field input{
    width: 100%;
}

.gender-wrap{
    /* display: flex; */
}

.sign-up-form label{
    display: contents;
}

input[name="gender"]{
    margin-left: 7px;
}

.form-fields select{
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.btn-acion-signup{
    width: 100%;
}